.image-collage-container {
    margin: 2rem;
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    border: red solid 2px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 300ms;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: green solid 2px;
}

.image-container:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.17em, rgba(2, 8, 20, 0.06) 0px 0.175em 0.5em;
    cursor: pointer;
    transform: translateY(-10px) scale(1.04);
}

.card-tall {
    grid-row: span 2 / auto;
}

.card-wide {
    grid-column: span 2 / auto;
}

.image {
    height: 100%;
    border: blue solid 2px;
}