.image-collage-container {
    margin: 2rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 100ms;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.image-container:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.17em, rgba(2, 8, 20, 0.06) 0px 0.175em 0.5em;
    cursor: pointer;
    transform: translateY(-4px) scale(1.03);
    opacity: 0.4;
}

.card-tall {
    grid-row: span 2 / auto;
}

.card-wide {
    grid-column: span 2 / auto;
}

.card-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-5px);
    transition: all 400ms;
}

.card-show {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0);
}