.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.folder-tab-common {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: linear-gradient(
    to bottom left,
    hsl(206, 51%, 45%),
    hsl(233, 63%, 31%)
  );
  transition: all 200ms;
  font-size: small;
  font-weight: 300;
  transform: scaleY(1)
}

.folder-tab-common:hover {
    transform: scaleY(1.06) translateY(-4px);
}

.created-by {
  margin-left: 4vw;
}

.project-link {
  color: white;
  border: none;
  font-family: inherit;
  font-weight: 300;
  font-size: small;
  cursor: pointer;
  margin-right: 4vw;
}

.project-link:active {
  transform: scale(0.95);
}
