.introductory-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 25vh;
}

.landing-page-form {
  position: fixed;
  top: 0px;
  flex-direction: row;
  border: solid 4px hsl(37, 59%, 44%);
  overflow: hidden;
  border-radius: 15px;
  margin-inline: 10vw;
  height: 3rem;
  transition: all 600ms;
  margin-top: 3rem;
}

.form-common {
  flex-direction: row;
  border: solid 4px hsl(37, 59%, 44%);
  overflow: hidden;
  border-radius: 15px;
  margin-inline: 10vw;
  height: 3rem;
  transition: all 600ms;
  margin-top: 3rem;
}


.submit-button {
  background-image: linear-gradient(
    to bottom left,
    hsl(206, 51%, 45%),
    hsl(233, 63%, 31%)
  );
  width: 25%;
  height: 120%;
  min-width: 15rem;
  font-size: 2rem;
  padding: 3px;
  border: none;
  color: white;
  transition: all 300ms;
}

.submit-button:active {
  transform: scale(0.96);
}

.submit-button:hover {
  cursor: pointer;
  /* background-image: linear-gradient(
    to bottom left,
    hsla(206, 51%, 45%, 0.43),
    hsl(233, 63%, 21%)
  ); */
  color: #aaaaaa;
}

.input {
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
  background-color: #444444;
  width: 75%;
  height: 120%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1rem;
}