.introductory-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 25vh;
}

.input-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-inline: 10vw;
  /* border: 2px solid red; */
  height: 3rem;
  transition: all 600ms;
  margin-top: 3rem;
}


.submit-button {
  background-image: linear-gradient(
    to bottom left,
    hsl(206, 51%, 45%),
    hsl(233, 63%, 31%)
  );
  width: 25%;
  min-width: 15rem;
  font-size: 2rem;
  padding: 3px;
  border: none;
  color: white;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 100ms;
}

.submit-button:active {
  transform: scale(0.96);
}

.submit-button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom left,
    hsl(233, 63%, 31%),
    hsl(206, 51%, 45%)
  );
  color: #aaaaaa;
}

.input {
  border: none;
  font-size: 2rem;
  width: 75%;
  height: calc(100% - 3px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1rem;
}

.input:focus {
  outline: none;
}